body {
    background-color: rgb(0, 128, 17);
    color: rgb(255, 204, 17);
}

h1 {
    font-size: 100px;
}



img:hover {
    background-color: gold;
}

.lemon {
    background-color: rgb(217, 255, 3);
}

.melon {
    background-color: aquamarine;
}

.circular {
    border-radius: 50%;
}

#heading {
    color: aqua;
}

#heading:hover {
    color: gold;
}
